/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.heroBanner {
  /* padding: 4rem 0; */
  padding: 0;
  text-align: center;
  position: relative;
  overflow: hidden;
  background: linear-gradient(180deg, rgba(40, 255, 0, 0.1) 100%, rgba(40, 255, 0, 0.1) 100%), url("/static/img/bg.jpg") no-repeat center center / cover;
  min-height: calc(100vh - var(--ifm-navbar-height));
}

.metaContainerHome {
  /* padding: 4rem 0; */
  padding: 2rem;
  text-align: center;
  position: relative;
  /* overflow: hidden; */
  background: rgba(255, 255, 255, 0.2);
  border-radius: 50px;
  width: fit-content;
  margin: auto;
  display: flex;
  align-items: center;
}

.metaContainerHome > img {
  margin: 2rem;
}

.avatarImage {
  height: 100px;
  width: 100px;
  border-radius: 50%;
  object-fit: cover; 
  object-position: 0 100%;
}

@media screen and (max-width: 996px) {
  .heroBanner {
    padding: 2rem;
  }
  .metaContainerHome {
    display: block;
  }
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}
