.heroBanner {
  background: linear-gradient(180deg, #0026ff57 100%, #28ff001a 0), url(/static/img/bg.jpg) 50%/cover no-repeat;
  min-height: calc(100vh - var(--ifm-navbar-height));
  overflow: hidden;
  padding: 0;
  position: relative;
  text-align: center
}

.metaContainerHome {
  align-items: center;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 50px;
  display: flex;
  margin: auto;
  padding: 2rem;
  position: relative;
  text-align: center;
  width: fit-content
}

.avatarImage {
  border-radius: 50%;
  height: 100px;
  object-fit: cover;
  object-position: 0 100%;
  width: 100px;
  margin: 2rem;
}

.contactsSection {
  padding: 2rem 0;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.contactSvg {
  height: 2.5rem;
  width: 2.5rem;
}

.contactList {
  display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
}

.contactItemCol {
  width: 100%;
  margin-bottom: 0.5em;
  padding: 1rem;
  border-radius: 1rem;
  border: 1px solid var(--ifm-color-emphasis-300);
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.contactItemTitle {
  font-size: 1.25rem;
  font-weight: 600;
}

.contactItemRight {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.contactItem {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.contactItem > svg {
  margin-right: .5rem;
}

@media screen and (max-width: 996px) {
  /* Mobile styles */
  .heroBanner_src {
    padding: 2rem;
  }
  .metaContainerHome {
    display: block;
  }
  .contactList {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
    align-self: center;
  }
}